<%= form_for(@virtual_environment) do |f| %>

  <div style="float:left; padding-right: 100px;">
    <div class="field" style="">
      <%= f.label :name %><abbr id="required">*</abbr><br />
      <%= f.text_field :name %>
      <%= error_message_on(:virtual_environment, :name, t('activerecord.attributes.virtual_environment.name')) %>
    </div>
    <div class="field">
      <%= f.label t('activerecord.attributes.machine.name') %><br />
      <%= f.select(:machine_id, @machines.collect{|machine| [machine.name, machine.id]}, :include_blank => true) %>
      <%= error_message_on(:virtual_environment, :machine_id, t('activerecord.attributes.machine.name')) %>
    </div>
    <div class="field">
      <%= f.label :ip %><br />
      <%= f.text_field :ip %>
      <%= error_message_on(:virtual_environment, :ip, t('activerecord.attributes.virtual_environment.ip')) %>
    </div>
    <div class="field">
      <%= f.label :tap %><br />
      <%= f.text_field :tap %>
      <%= error_message_on(:virtual_environment, :tap, t('activerecord.attributes.virtual_environment.tap')) %>
    </div>
    <div class="field">
      <%= f.label :mac %><br />
      <%= f.text_field :mac %>
      <%= error_message_on(:virtual_environment, :mac, t('activerecord.attributes.virtual_environment.mac')) %>
    </div>
    <div class="field">
      <%= f.label :vnc %><br />
      <%= f.text_field :vnc %>
      <%= error_message_on(:virtual_environment, :vnc, t('activerecord.attributes.virtual_environment.vnc')) %>
    </div>
    <div class="field">
      <%= f.label :image_name %><br />
      <%= f.text_field :image_name %>
      <%= error_message_on(:virtual_environment, :image_name, t('activerecord.attributes.virtual_environment.image_name')) %>
    </div>
  </div>

  <div>
    <div class="field">
      <%= f.label t('activerecord.models.project') %><br />
      <% @projects.each do |project| %>
        <%= check_box_tag "projects[]", project.id, @project_ids.index(project.id) ? true : false %><%= project.name %><br />
      <% end %>
    </div>
  </div>
  <br style="clear:both;" />

  <div>
    <div class="field">
      <%= f.label :note %><br />
      <%= f.text_area :note %>
      <%= error_message_on(:virtual_environment, :note, t('activerecord.attributes.virtual_environment.note')) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
