<div id="content_detail">
  <h4><%= t('page.listing', :model => t('activerecord.models.project')) %></h4>
  <p id="notice"><%= notice %></p>

  <div id="content_list">
    <table class="index">
      <tr>
        <th>
          <%= t('activerecord.attributes.project.name') %>
          <%= link_to t('page.asc'), url_for(params.merge(:sort_by => 'name', :order => 'asc')) %>
          <%= link_to t('page.desc'), url_for(params.merge(:sort_by => 'name', :order => 'desc')) %>
        </th>
        <th><%= t('activerecord.attributes.project.note') %></th>
        <th></th>
      </tr>

      <% @projects.each do |project| %>
        <tr class="line<%= cycle("0", "1") -%>">
          <td><%= link_to project.name, project %></td>
          <td><%= project.note %></td>
          <td>
            <%= link_to t('page.edit'), edit_project_path(project) %>
            <%= link_to t('page.destroy'), project, confirm: t('page.are_you_sure'), method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= will_paginate @projects, :previous_label=>'<', :next_label=>'>' %>
  </div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.project')), new_project_path %></li>
  </ul>
</div>
