<%= form_for(@machine) do |f| %>

  <div class="field">
    <%= f.label :name %><abbr id="required">*</abbr><br />
    <%= f.text_field :name %>
    <%= error_message_on(:machine, :name, t('activerecord.attributes.machine.name')) %>
  </div>
  <div class="field">
    <%= f.label :cpu %><br />
    <%= f.text_field :cpu %>
    <%= error_message_on(:machine, :cpu, t('activerecord.attributes.machine.cpu')) %>
  </div>
  <div class="field">
    <%= f.label :memory %><br />
    <%= f.text_field :memory %>
    <%= error_message_on(:machine, :memory, t('activerecord.attributes.machine.memory')) %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
    <%= error_message_on(:machine, :note, t('activerecord.attributes.machine.note')) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
